<section style="min-height: 200px;display: none" data-device-type="">
    <div>
        <div class="switch mb-4">
            <div class="f-left">
                <span class="swit">
                    <b>Switch</b>
                </span>
                <span class="tg-list-item">
                    <input class="tgl tgl-flat master-switch" type="checkbox">
                    <label class="tgl-btn" ></label>
                </span>
            </div>
           <div class="pin-menu"> 
                <!-- Pin select automatically populated here -->
            </div>
            <div class="f-right room">
                <p>
                    <b>Main Room</b>
                </p>
            </div>

        </div>

        <div class="clear"></div>
        <div class="text-center btn-foot">
            <button type="button" class="btn btn-blue update-btn">Update</button>
            <button type="button" class="btn btn-search" data-dismiss="modal">Exit</button>
        </div>
        <div class="clear"></div>
    </div>
</section>